<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img id="logo" src="/logo.png" width="80" height="80" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/theatres">Theatres</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/movies">Movies</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="genreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genres</a>
                <div class="dropdown-menu" aria-labelledby="genreDropdown">
                    <a class="dropdown-item" href="/genres">Genres</a>
                    <a class="dropdown-item" href="/genremovies">Movies for Genres</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="genreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actors</a>
                <div class="dropdown-menu" aria-labelledby="genreDropdown">
                    <a class="dropdown-item" href="/actors">Actors</a>
                    <a class="dropdown-item" href="/actormovies">Movies for Actors</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/awards">Awards</a>
            </li>
        </ul>
    </div>
</nav>