<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img id="logo" src="/logo.png" width="80" height="80" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/theatres">Theatres</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/movies">Movies</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/genres">Genres</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/actors">Actors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/awards">Awards</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/theatresmovies">TheatresMovies</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/genresmovies">GenresMovies</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/actorsmovies">ActorsMovies</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/awardsmovies">AwardsMovies</a>
            </li>
        </ul>
    </div>
</nav>
