<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <link rel="stylesheet" href="/css/style.css">
    <title>CineWatch</title>
</head>
<body>
    <div id="navbar">
        <img id="logo" src="logo.png" width="80" height="80" alt="logo">
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </nav>
    </div>
    <div id="about">
        {{{body}}}
    </div>
</body>
</html>
