<div id="intro">
    <h1 id="intro-tag">{{message}}</h1>
    <div id="intro-description">
        <p>CINEWATCH is a database management system (DBMS) that provides an easy way to manage 
            movies currently shown at CINEWATCH theatres across the country.</p>
        <p>
            Features:<br>
            INSERT new entries into every table individually<br>
            Search and filter the results of each table via SELECT<br>
            DELETE or UPDATE entries<br>
            And more!
        </p>
        <p>To start making changes, click on a link to a particular table in the navigation bar above.</p>
        </ul>
        <br>
        <span>
            <img src="/theatre1.jpg" width="200" height="200" alt="theatre1">
            <img src="/theatre2.jpg" width="200" height="200" alt="theatre2">
            <img src="/theatre3.jpg" width="200" height="200" alt="theatre3">
        </span>
        <p id="citation">From left to right: 1) "Movie Theaters" by emrecan arik, 2) "Duke of York's Picturehouse" by Jake Hills, 3) "Theater District" by Aditya Vyas</p>
    </div>
</div>