<h1>{{message}}</h1>
<p>CineWatch provides an easy way to keep track of movies that you plan to watch.</p>
<ul>
    Features:
    <li>Search released and upcoming movies</li>
    <li>Add, update or remove movies from your personal "watch-list" with a click of a button</li>
    <li>Sort your personal "watch-list" by release date, genre, actor or awards won</li>
</ul>
