<h1 id="intro-tag">{{message}}</h1>
<div id="intro-description">
    <p>CINEWATCH provides an easy way to keep track of movies that you plan to watch.</p>
    <p>
        Features:<br>
        Search released and upcoming movies<br>
        Add, update or remove movies from your personal dashboard with a click of a button<br>
        Sort your personal dashboard by release date, genre, actor or awards won
    </p>
    <p>Don't have an account yet? Register now!</p>
    </ul>
</div>