<form>
    <fieldset>
        <legend>Login</legend>
        <label>Username </label>
        <input type="text" name="username"><br>
        <label>Password </label>
        <input type="password" name="password"><br>
        <button type="submit">Login</button>
    </fieldset>
    <p>Forgot your Username or Password?</p>
    <a href="/recovery">Click here</a>
</form>