<form>
    <fieldset>
        <legend>Username and Password Recovery</legend>
        <label>Email </label>
        <input type="email" name="email"><br>
        <button type="submit">Submit</button>
    </fieldset>
</form>
