<form id="recovery-form">
    <legend>Recovery</legend>
    <div class="form-group">
        <label for="email-recover">Email</label>
        <input type="email" class="form-control" id="email-recover">
        <small id="email-help" class="form-text text-muted">Login credentials will be sent to this email</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
<table>
    <caption>Information entered above will be cross-referenced with data in 'Users' table:</caption>
    <thead>
        <tr>
            <th>userID</th>
            <th>email</th>
            <th>password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>alex355</td>
            <td>12345</td>
        </tr>
    </tbody>
</table>
