<form>
    <fieldset>
        <legend>Create a new account</legend>
        <label>Email </label>
        <input type="email" name="new-email"><br>
        <label>Username </label>
        <input type="text" name="new-username"><br>
        <label>Password </label>
        <input type="password" name="new-password"><br>
        <label>Confirm password </label>
        <input type="password" name="new-password2"><br>
        <button type="submit">Submit</button>
    </fieldset>
</form>
