<form id="register-form">
    <legend>Create a new account</legend>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email-new">
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="uid-new">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="pass-new">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
