/* Global */
body {
    background-color: #77a8c7;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

caption {
    color: black;
    caption-side: top;
    text-align: center;
}

table {
    text-align: center;
}

a {
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}

/* Navbar */
.navbar {
    background-color: #457b9d !important;
}

.nav-item {
    padding-left: 5px;
}

.nav-link {
    color: black !important;
    font-family: "Bangers", cursive;
    font-size: 20px;
    text-decoration: none;
}

/* Home */
#intro-tag {
    padding-top: 50px;
    font-family: "Bangers", cursive;
    font-size: 50px;
    text-align: center;
}

#intro-description {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Login */
#login-form {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.form-control {
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Recovery */
#recovery-form {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#email-help {
    color: black !important;
}

/* Register */
#register-form {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Dashboard */
#dashboard {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.flowBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vertBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.centerText {
    text-align: center;
}

#movie-list {
    padding-top: 30px;
    text-align: center;
}
